#form1{

    text-align: center;
    position:static;
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20%;
}

#buttom {
    background-color:rgb(216, 97, 67) 
}
#registerLink{
    margin-left: 5%;
}