@media (min-width: 1199.98px) { 
    #mainContainer {
        width: 1800px;
    }
}
#eventMainDetail {
    background: none;
    padding-top: 8%;
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
}
#conferenceInfo{
    background-image:  url("../../images/conferencePic.jpg"); 
    margin-top: 3%;
    width: 100%;
}

#blockquote {
    position: relative;
    font: 2.30rem "Montserrat";
    letter-spacing: .30rem;
    padding: 4px 0 10px 25px;
    border-top: 8px dotted #da5931;
    border-bottom: 8px dotted #da5931;
    -webkit-transform: rotate(-4deg);
}

blockquote:first-line {
    margin-left: 25%;
    font: 3rem "Montserrat";
    color: #000000;
    line-height: 3rem;
}

#fontAdminEvents{
    font-family: 'Montserrat';
    margin-top:-6%;
    text-align: center;
}

#fontAdmin{
    font-family: 'Montserrat';
    font-style: italic;
    margin-left: 3%;
    text-decoration: underline;
    font-size: 24px;
}

h3 {
    position: relative;
    margin-top: 0;
    color: rgba(95, 76, 64, 0.952);
    font-family: 'Montserrat';
    text-shadow: 3px 5px 5px rgb(248, 252, 248);


}

#effectFontBackground{
    background: url("../../images/lines.png") no-repeat;
    border-radius: 10px;
    font-size: 60px;
    position: relative;
    margin-top: 0;
    color: rgba(95, 76, 64, 0.952);
    font-family: 'Montserrat';
    text-shadow: 3px 5px 5px rgb(248, 252, 248);
    letter-spacing: -5px;

}

#effectFontBackground1{
    background: url("../../images/lines.png") no-repeat;

    font-size: 40px;
    position: relative;
    margin-top: 0;
    color: rgba(95, 76, 64, 0.952);
    font-family: 'Montserrat';
    text-shadow: 3px 5px 5px rgb(248, 252, 248);
    letter-spacing: -1px;
    padding-top: 2%;
    padding-bottom: 2%;

}

#effectFontBackground2{
    background: url("../../images/lines.png") no-repeat;

    font-size: 40px;
    position: relative;
    margin-top: 2%;
    color: rgba(95, 76, 64, 0.952);
    font-family: 'Montserrat';
    text-shadow: 3px 5px 5px rgb(248, 252, 248);
    letter-spacing: -1px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    margin-left: -2%;
    margin-right:-2%;
    margin-bottom: 3%;

}
#effectFontBackground3{
    background: url("../../images/lines.png") no-repeat;

    font-size: 40px;
    position: relative;
    margin-top: 3%;
    color: rgba(95, 76, 64, 0.952);
    font-family: 'Montserrat';
    text-shadow: 3px 5px 5px rgb(248, 252, 248);
    letter-spacing: -1px;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    margin-bottom: -3%;

}

h4{
    position: relative;
    font-size: 30px;
    padding-bottom: 3%;
    padding-top: 7%;
    font-family: 'Montserrat';
    text-shadow: 1px 1px 1px  rgba(95, 76, 64, 0.952);
    letter-spacing: -1px;
    -webkit-text-stroke: .5px   rgba(95, 76, 64, 0.952);
    color:  rgba(95, 76, 64, 0.952)
}

