#eventMainDetail {
    background-image:  url("../../images/conferencePic.jpg"); 
    height: 600px;
    width: 700px;
    padding-top: 40px; 
    text-align: center;
    margin-left: -180px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 00px;
    font-family: 'Montserrat', sans-serif;
}

blockquote {
    width: 565px;
    font: 2.65em "Montserrat";
    letter-spacing: .30em;
    /* float: left; */
    padding: 4px 0 10px 25px;
    border-top: 8px dotted #da5931;
    border-bottom: 8px dotted #da5931;
    -webkit-transform: rotate(-4deg);
}
blockquote:first-line {

    font: 1.60em "Montserrat";
    color: #000000;
    
}

blockquote:first-letter {
    font-size: 1.90em;
    /* text-transform: lowercase; */
    float: left;
    padding-top: 3%;
    line-height: .60em;
    position: relative;
    z-index: 1;
    font-style: italic;
    /* padding-left: 10%; */
    letter-spacing: -.4em;
}

