#eventMainDetail {
background: none;
    margin-left: -12%;
    padding-top: 8%;
    margin-top: 3%;
    text-align: center;

    font-family: 'Montserrat', sans-serif;
}
#conferenceInfo{
    background-image:  url("../../images/conferencePic.jpg"); 
    margin-left: -10%;
    /* padding-top: 8%; */
    margin-top: 3%;
    padding-left: 8%;
 
    /* text-align: center; */
}

#blockquote {
    /* width: 565px; */
    position: relative;
    font: 2.30em "Montserrat";
    letter-spacing: .30em;
    /* float: left; */
    padding: 4px 0 10px 25px;
    border-top: 8px dotted #da5931;
    border-bottom: 8px dotted #da5931;
    -webkit-transform: rotate(-4deg);
}
blockquote:first-line {
    position: absolute;
    font: 1.60em "Montserrat";
    color: #000000;
    
}

blockquote:first-letter {
    /* position: relative; */
    font-size: 1.90em;
    /* text-transform: lowercase; */
    float: left;
    padding-top: 3%;
    line-height: .60em;
    position: relative;
    z-index: 1;
    font-style: italic;
    /* padding-left: 10%; */
    letter-spacing: -.6em;
}

#fontAdminEvents{
    font-family: 'Montserrat';
}