.list-overflow-container {
  margin-top: 35%;
    max-height: 545px;
    /* border: 3px rgb(221, 196, 53) solid; */
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    font: 1.100em "Montserrat", bolder;
    border-color: rgba(248, 248, 244, 0.486);
    /* background-color: rgba(248, 248, 244, 0.486);
   */
  
  }
  
  .list-overflow-container ul {
    margin: 40px;
    border-color: rgba(248, 248, 244, 0.486);


  
  }
  
  .list-overflow-container li {
    border-radius: 0px;
    border-left: none;
    border-right: none;
    text-align: center;
    background-color: rgba(248, 248, 244, 0.486);
    border-color: rgba(248, 248, 244, 0.486);
    color: black;

 
  }
  
  .list-overflow-container li * {
    cursor: pointer;
  
  }


  
  /* .list-overflow-container li a {
    color: #2A878C;
  } */
  
  /* .list-overflow-container li:first-child {
    border-top: none;
  } */
  
  /* .list-overflow-container li:last-child {
    border-bottom: none;
  } */
  