 .list-overflow-container {
    margin-top: 35%;
    width: 300;
    height: 150;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    font: 1.100rem "Montserrat", bolder;
    border-color: rgba(248, 248, 244, 0.486);
  }
  
  .list-overflow-container ul {
    margin: 40px;
    border-color: rgba(248, 248, 244, 0.486);
  }
  
  .list-overflow-container li {
    border-radius: 4px;
    border-left: none;
    border-right: none;
    text-align: center;
    background-color: rgba(248, 248, 244, 0.486);
    border-color: rgba(248, 248, 244, 0.486);
    color: black;
  }
  
  .list-overflow-container li * {
    cursor: pointer;
  }

  .list-group{
    max-height: 390px;
  }

  .list-group-item{
    border-color: rgba(248, 248, 244, 0.486), solid, 1px ;
    background: rgba(248, 192, 36, 0.897);
  }
  