.grid-item{
    width: 45%;
    padding-left: 3%;
}
#jumbotron1 {
    background-image:  url("../../images/eventCalendar.png");

/* background-position: 60%; */

/* margin-top: 3%; */

background-repeat: no-repeat;
background-color: white;

position:center;
}


#currentEvents{
    padding-left: 40%;
    font-family: "Montserrat", bolder;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
    background: rgba(248, 192, 36, 0.897);
    margin-bottom: 3%;
    font-size: 26px;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 10px; 
    
}


