.grid-item{
  width: 45%;
  padding: 1%;
}
#jumbotron3 {
    background:  url("../../images/eventsAdded.png");
    background-size: 100%;
    padding-top: 8%;
    padding-bottom: 8%;

  /* background-position: 60%; */

  /* margin-top: 3%; */

  background-repeat: no-repeat;
  background-color: white;

  position:center;
}

.list-overflow-container {
  margin-top: 35%;
  width: 300;
  /* min-height: 400; */
  max-height: 471px;
  /* border: 3px rgb(221, 196, 53) solid; */
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  font: "Montserrat", bolder;
  border-color: rgba(248, 248, 244, 0.486);
  /* background-color: rgba(248, 248, 244, 0.486);
 */

}

#eventsAdded{  
    /* text-shadow: 1px 2px 1px rgba(0,0,0,0.3); */
    text-align: center;
    border-radius: 10px; 
}

#fontEventsAdded{
  text-align: center;
    font-family: "Montserrat", bolder;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
    background: rgba(216, 97, 67, 0.897);
    margin-bottom: 3%;
    font-size: 26px;
    color: white;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 10px; 
  /* margin-bottom: %; */

  /* background-color: rgb(216, 97, 67); */

}
#addNewEvent{
  background-color: rgb(216, 97, 67);
  /* margin-top: 40%; */
  /* margin-left:53%; */
  font-family: "Montserrat", bolder;
  border-color:  rgb(216, 97, 67);
  border: none;
  padding-bottom: 00px;
  padding: top 1%;
  padding-bottom: 1%;
  width: 100%;
  font-size: 20px;
  margin-top: 15%;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  /* position: absolute;
  bottom: 0;
  left: 0; */

}

#addNewEvent:hover {background-color:  rgb(216, 97, 67)}

#addNewEvent:active {
    background-color: rgb(216, 97, 67);
    box-shadow: 0 3px #666;
    transform: translateY(2px);
    padding-bottom: 00px;
  }
  
  /* #EventsAdded{
    width:60%;
    margin-left: 50%;
    margin-top: -45%;

} */