.grid-item{
  width: 45%;
}
#eventsAdded{

  background-image:  url("../../images/eventsAdded.png");
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
    text-align: center;
    border-radius: 10px; 
}

#fontEventsAdded{
  font-family: "Montserrat", bolder;
  text-align: center;
  border-radius: 10px; 
  color: white;
  font-size: 26px;
  padding-top:1%;
  padding-bottom:1%;
  margin-bottom: 5%;
  margin-top:3%;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  /* margin-bottom: %; */

background-color: rgb(216, 97, 67);

}
#addNewEvent{
 background-color: rgb(216, 97, 67);
/* margin-top: 40%; */
/* margin-left:53%; */
font-family: "Montserrat", bolder;
border-color:  rgb(216, 97, 67);
border: none;
padding-bottom: 00px;
padding: top 1%;
padding-bottom: 1%;
width: 100%;
font-size: 20px;
margin-top: 15%;
text-shadow: 1px 2px 1px rgba(0,0,0,0.3);


}

#addNewEvent:hover {background-color:  rgb(216, 97, 67)}

#addNewEvent:active {
    background-color: rgb(216, 97, 67);
    box-shadow: 0 3px #666;
    transform: translateY(2px);
    padding-bottom: 00px;
  }
  
  /* #EventsAdded{
    width:60%;
    margin-left: 50%;
    margin-top: -45%;

} */